node_modules/
vendor/
.env
.env.*.local
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Expo specific
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Laravel specific
public/hot
public/storage
storage/*.key
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitignore
phpunit.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.docker
/.phpunit.cache
